<!DOCTYPE html>
<html class="{{ htmlClass }}">
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    {% include '@global/webfonts/webfonts.twig' with { base_directory: '/webfonts'} %}

    <!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
    {{ patternLabHead | raw }}
    <!-- End Pattern Lab -->

    {% for stylesheet in get_component_stylesheets() %}
      <link rel="stylesheet" href="../../{{ stylesheet }}" />
    {% endfor %}

    <link rel="stylesheet" href="../../css/temporary-scaffolding/background.css">
    <link rel="stylesheet" href="../../css/temporary-scaffolding/components.css">
    <link rel="stylesheet" href="../../css/temporary-scaffolding/legacy.css">
    <link rel="stylesheet" href="../../css/temporary-scaffolding/multi-column.css">
    <link rel="stylesheet" href="../../css/temporary-scaffolding/region-vertical-spacing.css">
    <link rel="stylesheet" href="../../css/temporary-scaffolding/section-width.css">
    <link rel="stylesheet" href="../../css/temporary-scaffolding/vertical-spacing.css">
    <link rel="stylesheet" href="../../css/temporary-scaffolding/layouts/onecol.css">

    <script>const cms = { attach: (component, callback) => callback(document) };</script>
  </head>
  <body class="{{ bodyClass }}">
